<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.mapper.JournalMapper" >

	<select id="getJournalList" resultType="Journal" >
		SELECT 
			journalNo, 
			journalTitle,
			userName ,
			journalDate
		FROM
			journal j, user u 
		WHERE j.FK_journal_user = u.userNo
			AND userNo = #{no}
		order	BY journalNo DESC;
	</select>
	
	<select id="getExercise" resultType="exercise">
		SELECT
		exerciseCate,
		exerciseName,
		exerciseWeight,
		exerciseSet,
		exerciseRep
		FROM
		exercise
		WHERE 
		FK_exercise_journal = #{no}
	</select>
	
	<insert id="insertJournal" parameterType="Journal">
		INSERT INTO journal(journalTitle, journalDate, FK_journal_user)
		VALUES(#{title}, SYSDATE() ,#{no})
	</insert>
	
	<insert id="insertExercise" parameterType="Exercise">
		INSERT INTO exercise(exerciseCate, exerciseName, exerciseWeight, exerciseSet, exerciseRep, FK_exercise_journal)
	    VALUES (#{exerciseCate},#{exerciseName},#{exerciseWeight},
	    #{exerciseSet},#{exerciseRep},#{FK_exercise_journal})
	</insert>
	
</mapper>	



