<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.mapper.MemberMapper" >
	<select id="getMember" resultType="Member">
		SELECT * 
		FROM id i
		left JOIN user u
		on i.FK_id_user = u.userNo
		WHERE i.id = #{id}
	</select>	
	
	<insert id="addMember" parameterType="Member">
		INSERT INTO user (userName, phone1, phone2, phone3, gender, age, regDate)
		VALUES(#{userName}, #{phone1}, #{phone2}, #{phone3},
		#{gender}, #{age}, SYSDATE())
	</insert>
	
	<insert id="addMemberInfo" parameterType="Member">
		INSERT INTO regInfo (regPoint)
		VALUES (#{regPoint})
	</insert>
	
	<insert id="addId" parameterType="Member">
		INSERT INTO id (id, pw, authority)
		VALUES (#{id}, #{pw}, #{authority} )
	</insert>
</mapper>